.container
  %h2 Projects
  %p.lead These are some of the groups we work with.
  .row.row-cols-1.row-cols-lg-4.g-3.mt-0
    .col.text-light
      .card.h-100.shadow.bg-dark
        = image_tag "projects/svo.png", class: "card-img-top"
        .card-body
          %p.small.mb-1.text-muted Website Hosting
          %h5.mb-1.text-light Stellar Vista Observatory
    .col.text-light
      .card.h-100.shadow.bg-dark
        = image_tag "projects/amazing-earthfest.png", class: "card-img-top"
        .card-body
          %p.small.mb-1.text-muted Website Development
          %h5.mb-1.text-light Amazing Earthfest
    .col.text-light
      .card.h-100.shadow.bg-dark
        = image_tag "projects/mchs.png", class: "card-img-top"
        .card-body
          %p.small.mb-1.text-muted Website Development
          %h5.mb-1.text-light Montour County Historical Society
    .col.text-light
      .card.h-100.shadow.bg-dark
        = image_tag "projects/patrick.png", class: "card-img-top"
        .card-body
          %p.small.mb-1.text-muted Website Development
          %h5.mb-1.text-light Patrick Horning's Campaign

